// Label on the "MAIN" form needs to GTFO 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
        label {
            color: $primary-white;
            font-family: $primary-font;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.5rem;
        }
        select {
            width: 70%;
            border: none;
            border-radius: 25px;
            padding: 10px 0 10px 20px;
            margin-bottom: 10px;
            font-family: $secondary-font;
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        button {
            background-color: $primary-black;
            color: $primary-white;
            font-family: $primary-font;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 1.5rem;
            width: 70%;
            padding: 12px;
            border: 1px solid $primary-white;
            border-radius: 25px;
        }
    }
    ::placeholder {
        text-transform: uppercase;
        font-family: $secondary-font;
        font-weight: 300;
    }

form.active {
    // animation-duration: 2s;
    // animation-name: slideup;
    // animation-timing-function: ease;
    // animation-fill-mode: ;
    animation: slideup 2s ease forwards;
}

@keyframes slideup {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -50%;
    }
}
