form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 10;
    @media (max-width: 748px) {
        margin: 0 25px;
    }
    label {
        color: $primary-white;
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.5rem;
        @media (max-width: 379px) {
        font-size: 1.1rem;
    }
    }
    select {
        width: 70%;
        border: none;
        border-radius: 25px;
        padding: 10px 0 10px 20px;
        margin-bottom: 10px;
        font-family: $secondary-font;
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    button {
        background-color: $primary-black;
        color: $primary-white;
        font-family: $primary-font;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.5rem;
        width: 70%;
        padding: 12px;
        border: 2px solid $primary-white;
        border-radius: 25px;
    }
    @media (max-width: 748px) {
        select,
        button {
            width: 100%;
        }
    }
}
::placeholder {
    text-transform: uppercase;
    font-family: $secondary-font;
    font-weight: 300;
}

form.active {
    animation: slideup 2s ease forwards;
}

@keyframes slideup {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -50%;
    }
}

form button:hover,
form button:focus {
    border: 2px solid rgb(232, 120, 107);
}