// hamburger menu
.hamburger {
    background-color: transparent;
    border: 0;
    color: $primary-white;
    font-size: 5rem;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 0;
    -webkit-appearance: none;
    @media (max-width: 1148px) {
        z-index: 1;
        display: flex;
    }
}

.hamburgerContainer {
    display: none;
    width: 92px;
    position: absolute;
    top: 0;
    right: 5px;
    & :hover,
    & :focus {
        color: rgb(232, 120, 107);
    }
    @media (max-width: 1148px) {
        display: block;
        position: absolute;
        right: 20px;
    }
}

.socialHide {
    position: absolute;
    top: 75px;
    right: 0px;
    background-color: transparent;
    font-size: 25px;
    @media (max-width: 1148px) {
        display: none;
        background-color: transparent;
        font-size: 25px;
    }
    @media (max-width: 379px) {
        padding-right: 10px;
    }
    img {
        width: 50px;
        border: 2px solid transparent;
        border-radius: 10px;
        @media (max-width: 379px) {
            width: 35px;
        }
    }
}

.socialHide img:hover,
.socialHide img:focus {
    border: 2px solid rgb(232, 120, 107);
}