.secondaryLogo {
    position: absolute;
    top: 0;
    @media (min-width: 749px) {
        width: 21%;
        max-width: 260px;
    }
    @media (max-width: 748px) {
        width: 70%;
        position: absolute;
        margin: 0 auto;
        top: -10px;
        right: 16%;
    }
    img {
        opacity: 0;
        &.active {
            animation: fadeIn 3s ease forwards;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
