// ------STYLE FOR SOCIALS
.sidebar {
    width: 20%;
    margin-bottom: 10px;
    position: fixed;
    bottom: 5%;
    @media (max-width: 1148px) {
        display: none;
    }
}

.socials {
    display: flex;
    margin-bottom: 0;
    width: 195.3px;
    margin-left: 15px;
}

.socialLogos {
    width: 25%;
    margin-top: -5px;
    display: flex;
    a {
        padding: 0 5px 0 5px;
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: 10px;
        &:hover, 
        &:focus {
            border: 2px solid $accent-color;
        }
        img {
            height: 50px;
            width: 50px;
        }
        span {
            padding-bottom: 10px;
        }
    }
}
