// ------STYLE FOR SOCIALS
.sidebar {
    width: 20%;
    margin-bottom: 4%;
}

.socials {
    display: flex;
    margin-bottom: 0;
    width: 195.3px;
    @media (max-width: 1000px) {
        display: none;
    }
    .socialsList {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        a {
            margin-top: 3px;
            padding: 3px;
            text-decoration: none;
        }
    }
}

.socialLogos {
    width: 25%;
    margin-top: -5px;
    img {
        margin-bottom: -18px;
        margin-top: 1px;
    }
}