// ------STYLE FOR SOCIALS

main {
    position: relative;
}

.socials {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 5px;
    margin-bottom: 0;
    width: 195.3px;
    @media (max-width: 1000px) {
        display: none;
    }
    .socialsList {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        a {
            margin-top: 3px;
            padding: 3px;
            text-decoration: none;
        }
    }
}

.socialLogos {
    width: 25%;
    margin-top: -5px;
    img {
        margin-bottom: -18px;
        margin-top: 1px;
    }
}

// hamburger menu
.hamburger {
    background-color: transparent;
    border: 0;
    color: $primary-white;
    font-size: 5rem;
    cursor: pointer;
    display: none;
    @media (max-width: 1000px) {
        z-index: 1;
        display: flex;
        position: absolute;
        top: 0;
        left: 90%;
        // justify-content: flex-start;
    }
}

.socialHide {
    display: none;
    top: 70px;
    left: 90.25%;
    background-color: transparent;
    font-size: 25px;
    @media (max-width: 1000px) {
        display: none;
        top: 70px;
        left: 90.25%;
        background-color: transparent;
        font-size: 25px;
        img {
            width: 5%;
        }
    }
}
