// ------STYLE FOR SOCIALS

main {
    position: relative;
}

.socials {
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 5px;
    margin-bottom: 0;
    width: 195.3px;
    .socialsList {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        a {
            margin-top: 3px;
            padding: 3px;
            text-decoration: none;
        }
    }
}

.socialLogos {
    width: 25%;
    margin-top: -5px;
    img {
        margin-bottom: -18px;
        margin-top: 1px;
    }
}

