//IMPORT PARTIALS
@import "setup";
@import "colors";
@import "fonts";
@import "forms";
@import "footer";
@import "movieCard";
@import "sideBar";
@import "homePage";
@import "resultsPage";
@import "hamburger";

//GENERAL STYLING

// this stying and footer page styling is to test the compiler 
img {
    width: 100%;
    display: block;
}

.wrapper {
    max-width: 1400px;
    width: 68%;
    margin: 0 auto;
}

a {
    color: $primary-white;
    font-family: $secondary-font;
    font-size: 15px;
}

body {
    height: 100vh;
    background-color: $primary-black;
}

li {
    color: $primary-white;
}
